body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

h1 {
  margin: 90px auto 50px auto;
  color: #8bd5cb;
  font-size: 5rem;
  font-family: 'Emblema One', cursive;
}

h2 {
  color: #8bd5cb;
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

hr {
  width: 4%;
  border-style: none;
  border-top-style: dotted;
  border-color: #c56868;
  border-width: 8px;
  margin: 100px auto;
}

a {
  color: #c56868;
}

p {
  line-height: 2;
}

.bot {
  color: white;
  background-color: #c56868;
  padding: 15px 0 10px 0;
}

.bottom-cloud {
  position: absolute;
  top: 400px;
  left: 450px;
}

.butn {
  background: #8bd5cb;
  background-image: -webkit-linear-gradient(top, #8bd5cb, #61b0a4);
  background-image: -moz-linear-gradient(top, #8bd5cb, #61b0a4);
  background-image: -ms-linear-gradient(top, #8bd5cb, #61b0a4);
  background-image: -o-linear-gradient(top, #8bd5cb, #61b0a4);
  background-image: linear-gradient(to bottom, #8bd5cb, #61b0a4);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #c56868;
  background-image: -webkit-linear-gradient(top, #c56868, #974949);
  background-image: -moz-linear-gradient(top, #c56868, #974949);
  background-image: -ms-linear-gradient(top, #c56868, #974949);
  background-image: -o-linear-gradient(top, #c56868, #974949);
  background-image: linear-gradient(to bottom, #c56868, #974949);
  text-decoration: none;
}

.contact-me {
  margin: 50px auto 60px;
  width: 50%;
}

.contact-text {
  margin: 20px auto 60px;
}

.credit {
  font-size: 0.5em;
}

.footer-link {
  font-family: 'Poppins', sans-serif;
  color: #8bd5cb;
  font-size: 2em;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color: #974949;
}

.mid {
  margin: 100px 0;
}

.icon-left {
  float: left;
  margin: 0 30px 10px 0;
  width: 24%;
}

.icon-right {
  float: right;
  margin: 0 0 10px 30px;
  width: 24%;
}

.profile {
  width: 50%;
  font-size: 1.2em;
  margin: 100px auto;
}

.skill-icon {
  width: 70%;
  position: relative;
  left: 25px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.top {
  background-color: #edfffa;
  position: relative;
  padding-top: 150px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 470px;
}
